*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --almost-white:#FFFDFA;
    --dark-space-blue:#00001A;
    --gunmetal:#5e607a;
    --light-vermillion:#f15d51;
    --silver:#c5c6ce;
    --yellow:#e9aa52;

    --font-family: "Inter", sans-serif;
    --heading--xl: bold 56px var(--font-family);
    --heading--l: 40px/40px var(--font-family);
    --heading--m: 32px/32px var(--font-family);
    --heading--s: 22px/24px var(--font-family);
    --heading--xs: 18px/24px var(--font-family);
    --body: 15px/26px var(--font-family);
}


body{
    font: var(--body);
    background-color: var(--almost-white);
    color: var(--gunmetal);
}

.container{
    padding-inline: 40px;
    max-width: 1280px;
    margin-inline: auto;
}