nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 97px 61px;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;

}